<h1 class="text-center">New Employee</h1>

<%= render "form", employee: @employee %>

<div class="container">
    <%= form_with model: @employee do |form| %>
        <div>
            <%= form.submit 'Create Employee', class: "btn btn-outline-primary" %>
        </div>
    <% end %>
</div>